body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding: 20px;
}

/* Home Page Styles */
h1 {
    color: #333;
    margin-bottom: 20px;
}

pre {
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
}

/* Index Page Styles */
h1,
h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 5px;
    font-size: 16px;
}

form button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li strong {
    font-weight: bold;
}

/* Error Message Style */
p.error {
    color: red;
    font-weight: bold;
}
