body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #5e8ecd;
    padding: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    transform: translateY(0);
    transition: transform 0.2s ease;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: block;
}

nav a:hover {
    background-color: #b175c9;
    transform: translateY(-3px);
}

.content {
    padding: 20px;
}

/* Home Page Styles */
h1 {
    color: #5e8ecd;
    margin-bottom: 20px;
}

pre {
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
}

/* Index Page Styles */
h1,
h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #5e8ecd;
    border-radius: 5px;
    outline: none;
}

form button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #5e8ecd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #b175c9;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li strong {
    font-weight: bold;
}

/* Error Message Style */
p.error {
    color: red;
    font-weight: bold;
}
