<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Country App</title>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
<nav>
    <ul>
        <li><a href ="/">Home</a></li>
        <li><a href="/countries">Countries</a></li>
        <li><a href="/currency">Currency</a></li>
        <li><a href="/capitalCity">Capital City</a></li>
        <li><a href="/callingCode">Calling Code</a></li>
    </ul>
</nav>
<div class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
