{% extends "base.twig" %}

{% block content %}
    <h1>Welcome to the Country App!</h1>
     <pre>
         DONE:
         -----
         - Create a new project [DONE]
         - Build out the basic structure [DONE]
         - Update routes so they match the old project and they are calling classes instead of handling logic inside [DONE]
         - Create a service for the API Request [DONE]
         - Move the code into it from the action [DONE]
         - Update code blocks [DONE]


         DOING:
         -----
         - Add a base URL builder


         TODO:
         -----
         - Update the dependancy injection so we are not passing private fields and just pass them in the constructor
                - Constructor property promotion
         - Connect to git
         - Push work up to bitbucket
         - Add .env and base URL builder
         - Add other pages for:
            - Currency
            - Capital cities
            - Calling code
            - etc...

     </pre>
{% endblock %}
